
<style>
 .cards-container{
   padding:100px;
   background: linear-gradient(180deg, #FFD5D5 0%, #FEEC9E 100%);
 }
 .cards-label{
   font-size:14px;
   color:#000;
   font-weight:600;
 }
 .cards-header{
   font-size:48px;
   color:#FB83A3;
   margin-bottom:20px;
   line-height: 50px;
   font-family:Shrikhand;
 }
 .cards-content{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:stretch;
   margin-top:70px;
 }
 .cards-main{
   width:225px;
   flex-shrink:0;
   text-align:center;
 }
 .card-text-bold{
   font-size:18px;
   font-weight:600;
 }
 .card-text{
   font-size:16px;
 }
 .card-image{
   width:100%;
   height:270px;
   border-radius:20px;
 }
  .card-divider{
  	padding: 0 20px;
    width:100px;
    display:flex;
    padding-top:100px;
  }
  .card-arrow{
    width:100%;
    background-image:url("https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/arrow.svg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    height:40px;
  }  
 @media screen and (max-width: 1024px) {
  .cards-container{
    flex-direction:column-reverse;
    padding:20px;
  }
   .cards-content{
     flex-direction:column;
     align-items:center;
     margin-top:40px;
  }
   .card-divider{
      padding-top:20px;
      padding-bottom:20px;
     transform:rotate(90deg);
     
   }
   .cards-header{
      font-size:32px;
      line-height:36px;
   }     
}
</style>


{% javascript %}
{% endjavascript %}

<div class="cards-container">
  <div class="cards-label">HOW TO APPLY</div>
  <div class="cards-header">3 cara menggunakan Stand Strong UV Stick</div>
  <div class="cards-content">
   <div class="cards-main">
   	<img class="card-image"src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/how_to1.png"/> 
     <div class="card-text-bold">Gunakan 15 menit sebelum aktivitas</div>
   </div>
   <div class="card-divider">
     <div class="card-arrow"></div>
   </div> 
  <div class="cards-main">
   	<img class="card-image"src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/how_to2.png"/> 
     <div class="card-text-bold">Usap 4x berulang di area yang sama</div>
     <div class="card-text">(P.S. dapat digunakan untuk seluruh tubuh)</div>
   </div>
   <div class="card-divider">
     <div class="card-arrow"></div>
   </div> 
   <div class="cards-main">
   	<img class="card-image"src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/how_to3.png"/> 
     <div class="card-text-bold">Ratakan dengan tangan untuk perlindungan optimal</div>
     <div class="card-text">(P.S. jangan lupa re-apply ya!)</div>
   </div>
  </div>
</div>




{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Cards",
    "en": "Cards",
    "es": "Cards",
    "fi": "Suositukset",
    "fr": "Cards",
    "hi": "प्रमाणपत्र",
    "it": "Cards",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Barva pozadí",
        "da": "Baggrundsfarve",
        "de": "Hintergrundfarbe",
        "en": "Background color",
        "es": "Color del fondo",
        "fi": "Taustaväri",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि का रंग",
        "it": "Colore sfondo",
        "ja": "背景の色",
        "ko": "배경색",
        "nb": "Bakgrunnsfarge",
        "nl": "Achtergrondkleur",
        "pl": "Kolor tła",
        "pt-BR": "Cor do fundo",
        "pt-PT": "Cor do fundo",
        "sv": "Bakgrundsfärg",
        "th": "สีพื้นหลัง",
        "tr": "Arka plan rengi",
        "vi": "Màu nền",
        "zh-CN": "背景色",
        "zh-TW": "背景顏色"
      },
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Cards",
        "en": "Cards",
        "es": "Cards",
        "fi": "Suositukset",
        "fr": "Cards",
        "hi": "प्रमाणपत्र",
        "it": "Cards",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Testemunhos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
