
<style>
.customer-reviews-container{
  width:100%;
  background:#BDEDFF;
  padding:25px 100px;
  display:flex;
}
 .customer-reviews-header{
  width:400px;
  margin-top:100px;
  flex-shrink:0;
  font-family:Shrikhand;
}
.customer-reviews-content{
  width:100%;
}
.customer-reviews-row{
  width:100%;
  margin-bottom:25px;
}
.customer-reviews-row:nth-child(even){
  padding-left:100px;
}
 .customer-reviews-row:nth-child(odd){
  padding-right:100px;
}
.customer-reviews-card{
  width:100%;
  border-radius:20px;
  background:#fff;
}
@media screen and (max-width: 1024px) {
  .customer-reviews-container{
  	flex-direction:column;
  	padding:20px;
  }
  .customer-reviews-content{
  	margin-top:20px;
  }
  .customer-reviews-header{
  	width:100%;
    margin-top:50px;
  }

}

</style>


{% javascript %}
{% endjavascript %}

<div class="customer-reviews-container">
  <div class="customer-reviews-header">
   <div class="product-showcase-header">Customer Review</div>
   <div class="product-showcase-label">A list of our satisfied users.</div>
  </div>
  <div class="customer-reviews-content">
    <div class="customer-reviews-row">
    	<img class="customer-reviews-card" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/review1.png"/>
    </div>
    <div class="customer-reviews-row">
    	<img class="customer-reviews-card" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/review2.png"/>
    </div>
    <div class="customer-reviews-row">
    	<img class="customer-reviews-card" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/review3.png"/>
    </div>
  </div>
</div>




{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Customer Reviews",
    "en": "Customer Reviews",
    "es": "Customer Reviews",
    "fi": "Suositukset",
    "fr": "Famtimes",
    "hi": "प्रमाणपत्र",
    "it": "Customer Reviews",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Customer Reviews",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Customer Reviews",
        "en": "Customer Reviews",
        "es": "Customer Reviews",
        "fi": "Suositukset",
        "fr": "Customer Reviews",
        "hi": "प्रमाणपत्र",
        "it": "Customer Reviews",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Customer Reviews",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
