
<style>
 .famtimes-container{
   padding:100px;
   background: #FFED9F;
   display:flex;
   flex-direction:column;
   align-items:center;
 }
 .famtimes-container2{
   background: linear-gradient(180deg, #FFED9F 0%, #BDEDFF 100%);
   padding:100px;
   display:flex;
   align-items:center;
   flex-direction:column;
 }
 .famtimes-tabs{
   width:100%;
   display:flex;
   justify-content:space-between;
 }
 .famtimes-tab{
   font-size:16px;
   color:#333;
   text-align:center;
   font-weight:600;
   cursor:pointer
  }
 .famtimes-tag{
   font-size:14px;
   color:#FB83A3;
 }
 .famtimes-header{
   font-size: 48px;
   font-family:Shrikhand;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   text-shadow: 3px 3px 0px #FB83A3;
   margin-bottom:80px;
   text-align:center; 
 }  
.famtimes-content{
  min-width:840px;
  display:flex;
  justify-content:space-between;
  margin-top:70px;
}
  .famtimes-content > div{
  	display:flex;
    flex-direction:column;
    align-items:center;
  }
.famtimes-image-holder{
  height:320px;
  width:320px;
  border-radius:50%;
  border:15px solid #fff;
  position:relative;
  overflow:hidden;
  flex-shrink:0;
}
.famtimes-image{
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
  border-radius:50%;
  position:relative;
  cursor:pointer;
}
.famtimes-image:after{
  content:"";
  width:45px;
  height:45px;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
  background-image:url("https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/play.svg");
  backround-position:center;
  background-size:contain;
  background-repeat:no-repeat;
}
.famtimes-text-bold{
  text-align:center;
  font-family:Shrikhand;
  font-size:32px;
  margin-top:40px;
  color:#4d4d4d;
  
}
.famtimes-text{
  color:#FB83A3;
  text-align:center;
  font-size:24px;
}
.famtimes-delmira{
   background-image:url("https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/delmira.png");
}
.famtimes-tasya{
   background-image:url("https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/tasya.png");
}
.famtimes-featured-section{
  width:100%;
  max-width:625px;
  position:relative;
  margin-top:40px;
  min-height:400px;

}
.famtimes-fader{
  width:100%;
  position:absolute;
  display:flex;
  align-items:center;
  left:0;
  top:0;
  transition:300ms;
  opacity:0;
}
  .famtimes-fader-static{
  	width:100%;
    height:auto;
    opacity:0;
    pointer-events:none;
  }
.famtimes-section-view.famtimes-fader{
 opacity:1; 
 }
.famtimes-featured-image{
  width:50%;
  background:#fff;
  padding:15px;
  flex-shrink:0;
}
 
.famtimes-featured-image img{
  width:100%;
  height:auto;
}
.famtimes-hashtag{
  font-size:20px;
  text-align:center;
  font-family:Shrikhand;
  margin-top:15px;
  color:#FB83A3;
}
.famtimes-details{
  background:#BDEDFF;
  border-radius:0 20px 20px 0;
  padding:45px;
}
.famtimes-name{
  font-size:26px;
  color:#0068C3;
  font-family:Shrikhand;
  line-height:30px;
}
.famtimes-handle{
  font-size:16px;
  color:#0068C3;
  margin-bottom:15px;
}
.famtimes-section-head{
   font-size:16px;
   color:#333;
   font-weight:600;
  margin-bottom:15px;
  
}
.famtimes-section-description{
   font-size:14px;
   color:#333;
}
.famtimes-modal{
   width:100vw;
   height:100vh;
   background:rgba(0,0,0,0.6);
   position:fixed;
   left:0;
   top:0;
   display:none;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   z-index:20;
}
  .famtimes-modal-view{
  	display:flex;
  }
  .famtimes-video{
    width:100%;
    max-width:600px;
    padding:10px;
    padding-top:50px;
    background:#fff;
    position:relative;
  }

  .famtimes-video video{
  	width:100%;
    max-height:90vh;
    display:none;
  }
  .famtimes-video .famtimes-video-view{
    display:block;
  }
  .famtimes-modal-close{
  	width:40px;
    height:40px;
    position:absolute;
    cursor:pointer;
    top:10px;
    right:10px;
  }
  .famtimes-modal-close:before ,.famtimes-modal-close:after{
  	content:"";
    width:25px;
    height:2px;
    position:absolute;
    background:#333;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    transform:rotate(45deg);
  }
  .famtimes-modal-close:after{
    transform:rotate(-45deg);
  }
  
  
  
 @media screen and (max-width: 1024px) {
  .famtimes-container , .famtimes-container2{
    padding:20px;
  }  
  .famtimes-content{
   	min-width:100%;
    flex-direction:column;
    margin:0;
   }
  .famtimes-header{
    margin-top:20px;
    font-size:32px;
   }

   .famtimes-text-bold{
   	margin-top:20px;
   }
   .famtimes-text{
   	margin-bottom:20px;
   }
   .famtimes-header{
   	margin-bottom:20px;
   }
   .famtimes-tab{
   	font-size:14px;
   }
   .famtimes-tag{
   	font-size:12px;
   }
   .famtimes-fader{
   	flex-direction:column;
   }
   .famtimes-featured-image{
   	width:100%;
   }
   .famtimes-featured-section{
   	min-height:560px;
   }
   .famtimes-details{
   	padding:20px;
   }
 
}
</style>


{% javascript %}
{% endjavascript %}
<div>
  <div class="famtimes-container">
    <div class="famtimes-header">Ingrid Fams Time!</div>
    <div class="famtimes-content">
      <div>
        <div class="famtimes-image-holder" onclick="openVideo(true,1)">
          <div class="famtimes-image famtimes-delmira"></div>
        </div>
        <div class="famtimes-text-bold">Delmira Prabu</div>
        <div class="famtimes-text">Beauty Influencer</div>   
      </div>
      <div>
        <div class="famtimes-image-holder" onclick="openVideo(true,2)">
          <div class="famtimes-image famtimes-tasya"></div>
        </div>
        <div class="famtimes-text-bold">Tasya Farasya</div>
        <div class="famtimes-text">Beauty Influencer</div>
      </div>
    </div>
  </div>
  <div class="famtimes-container2">
    <div class="famtimes-tabs">
      <div class="famtimes-tab" onclick="handleTabSelect(1)">
        <div>Nabilla Mentary</div>
        <div class="famtimes-tag">@nabillamentary</div>
      </div>
      <div class="famtimes-tab" onclick="handleTabSelect(2)">
        <div>Sherly Vine</div>
        <div class="famtimes-tag">@shierlyvine</div>
      </div>
      <div class="famtimes-tab" onclick="handleTabSelect(3)">
        <div>Winda</div>
        <div class="famtimes-tag">@fwbeaute</div>
      </div>
    </div>
    <div class="famtimes-featured-section" >
      <div class="famtimes-fader famtimes-section-view" id="famtimes-section-1">
        <div class="famtimes-featured-image">
          <img src="https://cdn.shopify.com/s/files/1/0492/1645/4815/collections/Screen_Shot_2020-10-09_at_12.08.58_360x.png?v=1639118254"/>
          <div class="famtimes-hashtag">#StandStrongFromAM</div>
        </div> 
        <div class="famtimes-details">
          <div class="famtimes-name">Nabila Mentary</div>
          <div class="famtimes-handle">@nabillamentary</div>
          <div class="famtimes-section-head">Ringan dan tidak berminyak!</div>
          <div class="famtimes-section-description">Cocok untuk kombinasi aku. Lembut dan ringan saat aplikasi dan kulit tidak terlihat berminyak setelah re-apply</div>
        </div> 
      </div>
      <div class="famtimes-fader" id="famtimes-section-2">
        <div class="famtimes-featured-image">
          <img src="https://cdn.shopify.com/s/files/1/0492/1645/4815/collections/Screen_Shot_2020-10-09_at_12.05.35_360x.png?v=1639118568"/>
          <div class="famtimes-hashtag">#StandStrongFromAM</div>
        </div> 
        <div class="famtimes-details">
          <div class="famtimes-name">Sherly Vine</div>
          <div class="famtimes-handle">@shierlyvine</div>
          <div class="famtimes-section-head">No Whitecast</div>
          <div class="famtimes-section-description">Hasilnya matte & transparan - tidak meninggalkan residu putih atau white cast sama sekali!</div>
        </div> 
      </div>
      <div class="famtimes-fader" id="famtimes-section-3">
        <div class="famtimes-featured-image">
          <img src="https://cdn.shopify.com/s/files/1/0492/1645/4815/collections/a2acc772f42a4c99aeced6b6fb19c1f8_540x_8c4cf6ed-05a8-457e-8567-a1fcc390104f_360x.jpg?v=1639118394"/>
          <div class="famtimes-hashtag">#StandStrongFromAM</div>
        </div> 
        <div class="famtimes-details">
          <div class="famtimes-name">Winda</div>
          <div class="famtimes-handle">@fwbeaute</div>
          <div class="famtimes-section-head">Anti-ribet</div>
          <div class="famtimes-section-description">Easy to use, tinggal di-swipe up aja. Higienis, mudah dibawa-bawa dan pakainya juga gampang banget. Anti-ribet deh!</div>
        </div> 
      </div>
      <div class="famtimes-fader-static">
        <div class="famtimes-featured-image">
          <img src="https://cdn.shopify.com/s/files/1/0492/1645/4815/collections/a2acc772f42a4c99aeced6b6fb19c1f8_540x_8c4cf6ed-05a8-457e-8567-a1fcc390104f_360x.jpg?v=1639118394"/>
          <div class="famtimes-hashtag">#StandStrongFromAM</div>
        </div> 
        <div class="famtimes-details">
          <div class="famtimes-name">Winda</div>
          <div class="famtimes-handle">@fwbeaute</div>
          <div class="famtimes-section-head">Anti-ribet</div>
          <div class="famtimes-section-description">Easy to use, tinggal di-swipe up aja. Higienis, mudah dibawa-bawa dan pakainya juga gampang banget. Anti-ribet deh!</div>
        </div> 
      </div>
    </div>  
  </div>
</div>
<div class="famtimes-modal" id="famtimes-video-modal">
  <div class="famtimes-video">
    <video id="famtimes-video-1" controls src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/delmiraprabu_1.mp4"></video>
    <video id="famtimes-video-2" controls src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/1.mp4"></video>
    <div class="famtimes-modal-close" onclick="openVideo(false)"></div>
  </div>
</div>


<script>
  function handleTabSelect(tab){
    document.getElementById("famtimes-section-1").classList.remove("famtimes-section-view");
    document.getElementById("famtimes-section-2").classList.remove("famtimes-section-view");
    document.getElementById("famtimes-section-3").classList.remove("famtimes-section-view");
    const selectedSection = document.getElementById(`famtimes-section-${tab}`);
    selectedSection.classList.add("famtimes-section-view");
  }
  function openVideo(status,index){
    const famtimesModal= document.getElementById("famtimes-video-modal");
    if(status){
    	famtimesModal.classList.add("famtimes-modal-view");
      	document.getElementById(`famtimes-video-${index}`).classList.add("famtimes-video-view");
      	
    }
    else{
   	    famtimesModal.classList.remove("famtimes-modal-view");
      	const vid1 = document.getElementById("famtimes-video-1");
      	const vid2 = document.getElementById("famtimes-video-2");
        vid1.classList.remove("famtimes-video-view");
    	vid2.classList.remove("famtimes-video-view");
      	vid1.pause();
        vid1.currentTime = 0;
      	vid2.pause();
        vid2.currentTime = 0;
    }
  }
  
</script>

{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Famtimes",
    "en": "Famtimes",
    "es": "Famtimes",
    "fi": "Suositukset",
    "fr": "Famtimes",
    "hi": "प्रमाणपत्र",
    "it": "Famtimes",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Barva pozadí",
        "da": "Baggrundsfarve",
        "de": "Hintergrundfarbe",
        "en": "Background color",
        "es": "Color del fondo",
        "fi": "Taustaväri",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि का रंग",
        "it": "Colore sfondo",
        "ja": "背景の色",
        "ko": "배경색",
        "nb": "Bakgrunnsfarge",
        "nl": "Achtergrondkleur",
        "pl": "Kolor tła",
        "pt-BR": "Cor do fundo",
        "pt-PT": "Cor do fundo",
        "sv": "Bakgrundsfärg",
        "th": "สีพื้นหลัง",
        "tr": "Arka plan rengi",
        "vi": "Màu nền",
        "zh-CN": "背景色",
        "zh-TW": "背景顏色"
      },
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Famtimes",
        "en": "Famtimes",
        "es": "Famtimes",
        "fi": "Suositukset",
        "fr": "Famtimes",
        "hi": "प्रमाणपत्र",
        "it": "Famtimes",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Testemunhos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
