<style>
  .faq-container{
    width:100%;
    padding:100px;
    color:#333;
    background:#FEEC9E;
    display:flex;
  }
  
  .faq-header{
    flex-shrink:0;
    color:#FB83A3;
    font-size:50px;
    font-family:Shrikhand;
  }  
  .faq-subheader{
    width:80px;
    font-size:12px;
    font-style:italic;
    color:#333;
    display:inline-block;
    font-family: Montserrat,sans-serif;
  }
  .faq-content{
    width:100%;
    margin-top:80px;
  }
  .faq-question{
    font-size:24px;
    font-family: Shrikhand;
    border-bottom:2px solid #333;
    margin-top:15px;
    line-height:30px;
  }
  .faq-answer{
  	font-size:12px;
    font-weight:500;
    margin-top:10px;
  }
  @media screen and (max-width: 1024px) {
    .faq-container{
      flex-direction:column;
      padding:20px;
    }
    .faq-header{
      font-size:32px;	
    }
    .faq-content{
   	  margin-top:20px;
    }
  }
</style>

<div class="faq-container">
  <div class="faq-header">FAQ <span class="faq-subheader">Frequently Asked Questions</span></div>
  <div class="faq-content">
    <div>
      <div class="faq-question" >Apakah produk Ingrid Skin aman untuk kulit sensitif?</div>
      <div class="faq-answer">Produk Ingrid Skin aman digunakan untuk semua jenis kulit, terutama untuk kulit sensitif. </div>
    </div>
     <div>
      <div class="faq-question">Apakah produk Ingrid Skin aman digunakan?</div>
      <div class="faq-answer">
		Semua produk Ingrid Skin telah terdaftar dalam Badan Pengawasan Obat dan Makanan (BPOM) secara resmi dan telah mendapatkan izin persetujuan terbit sehingga aman digunakan, bahkan untuk anak-anak, ibu hamil dan menyusui.
       </div>
    </div> 
     <div>
      <div class="faq-question">Bagaimana cara saya untuk melakukan pembayaran?</div>
      <div class="faq-answer">Pembayaran dapat dilakukan melalui bank transfer (Mandiri, BRI, Permata, BNO dan bank lain) atau dengan credit card (Visa, MasterCard, Amex)
 	</div>
    </div>
     <div>
      <div class="faq-question">Bagaimana proses pengiriman dari pesanan saya?</div>
      <div class="faq-answer">Pengiriman dilakukan dengan menggunakan standard shipping (JNE) dan program free ongkir dapat digunakan selama periode tertentu.</div>
    </div>
     <div>
      <div class="faq-question">Apakah saya dapat bergabung menjadi reseller Ingrid Skin?</div>
      <div class="faq-answer">Untuk bergabung menjadi reseller Ingrid Skin, kamu bisa mendaftarkan diri di RAENA Apps dan melakukan transaksi di aplikasi tersebut dengan harga grosir serta margin yang tinggi. </div>
    </div>
 </div>
</div>  



{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Faq",
    "en": "Faq",
    "es": "Faq",
    "fi": "Suositukset",
    "fr": "Faq",
    "hi": "प्रमाणपत्र",
    "it": "Faq",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Faq",
        "en": "Faq",
        "es": "Faq",
        "fi": "Suositukset",
        "fr": "Faq",
        "hi": "प्रमाणपत्र",
        "it": "Product Showcase",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Product Showcase",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}



