<style>
  .instagram-container{
  	width:100%;
    padding:100px 100px 135px 100px;
    background:#BDEDFF;
    position:relative;
  }
  .instagram-container:before{
    content:"";
  	width:100%;
    height:180px;
    background:#FFED9F;
    position:absolute;
    bottom:0;
    left:0;
  }
  .instagram-header{
    width:100%;
    font-size:36px;
    font-family:Shrikhand;
    text-align:center;
  	color:#0068C3;
  }
  .instagram-subheader{
  	font-size:20px;
    color:#333;
    width:100%;
    text-align:center;
  }
  .instagram-slider{
    display:flex;
    justify-content:center;
    margin-top:78px;
    position:relative;
  }
  .instagram-image{
    width:200px;
    height:200px;
    margin-right:25px;
  } 
  .instagram-image:last-child{
    margin:0;
  }
  .instagram-image img{
    width:100%;
    height:100%;
  }
@media screen and (max-width: 1024px) {
    .instagram-container{
    	padding:20px;
    }
    .instagram-slider{
    	margin-top:20px;
    	overflow:auto;
      	justify-content:flex-start;
  }
  .instagram-image{
  	flex-shrink:0;
  }
  .instagram-header{
  	line-height:36px;
    font-size:32px;
  }
}
  
</style>

<div class="instagram-container">
  <div class="instagram-header">Let’s have #FUNDERSUN with Ingrid !</div>
  <div class="instagram-subheader">Follow our Instagram @ingridskin to join the fun</div>
  <div class="instagram-slider">
    <div class="instagram-image">
    	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/insta1.png"/>
    </div>
    <div class="instagram-image">
    	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/insta2.png"/>
    </div>
    <div class="instagram-image">
    	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/insta3.png"/>
    </div>
    <div class="instagram-image">
    	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/insta4.png"/>
    </div>
    <div class="instagram-image">
    	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/insta5.png"/>
    </div>
  </div>
</div>
{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Instagram",
    "en": "Instagram",
    "es": "Instagram",
    "fi": "Suositukset",
    "fr": "Instagram",
    "hi": "प्रमाणपत्र",
    "it": "Instagram",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Instagram",
        "en": "Instagram",
        "es": "Instagram",
        "fi": "Suositukset",
        "fr": "Instagram",
        "hi": "प्रमाणपत्र",
        "it": "Product Showcase",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Product Showcase",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
