
<style>
 .product-showcase-container{
   padding:100px;
   background: #FFD5D5;
   display:flex;
 }
 .product-showcase-label{
   font-size:14px;
   color:#000;
   font-weight:600;
   font-family: Montserrat,sans-serif;
 }
 .product-showcase-header{
   font-size:48px;
   font-family:Shrikhand;
   color:#FB83A3;
   margin-bottom:20px;
   line-height: 50px;
 }
 .product-showcase-content{
   width:45%;
 }
 .product-showcase-banner{
   width:550px;
   height:auto;
   flex-shrink:0;
   margin-left:25px;
 }
 .product-showcase-text{
   font-size:18px;
   color:#333;
   margin-top:10px;
 }
  .product-showcase-tab{
  	width:160px;
    height:150px;
    border-radius:20px;
    padding:0 10px;
    background:#fff;
    font-size:16px;
    color:#333;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    margin-top:50px;
    margin-left:25px;
    white-space:normal;
  }
  .product-showcase-tab img{
    width:55%;
    height:auto;
  }
  .product-showcase-description{
  	font-size:18px;
  }
  .product-showcase-tabs{
  	width:100%;
    white-space:nowrap;
    transform:translateX(15%);
  }
  @media screen and (max-width: 1024px) {
    .product-showcase-container{
      	flex-direction:column;
        padding:40px 20px;
      }
     .product-showcase-content{
   		width:100%;
 	}
   .product-showcase-header{
     font-size:32px;
     margin-bottom: 0;
     line-height: 36px;
    }
   .product-showcase-tabs{
    transform:none;
    }
    .product-showcase-tab{
      width:30%;
      height:auto;
      margin-left:15px;
      margin-top:20px;
   	  font-size:13px;
      padding-bottom:10px;
      min-height: 105px;
    }
    .product-showcase-tab:first-child{
      margin-left:0;
    }
    .product-showcase-banner{
      margin-left:0;
      margin-top:20px;
    }
  
  }
</style>


{% javascript %}
{% endjavascript %}

<div class="product-showcase-container">
  <div class="product-showcase-content">
   <div class="product-showcase-label">ALL NATURAL</div>
   <div class="product-showcase-header">Stand Strong UV Stick</div>
   <div class="product-showcase-description">
     Sunstick lokal pertama di Indonesia. Mengandung bahan-bahan alami, essential oil, vitamin E, minyak bunga matahari, dan minyak almond yang aman untuk digunakan oleh siapa saja. Pilihan tepat untuk melindungi kulitmu dari sinar UVA dan UVB dengan harga yang terjangkau.
    </div>
    <div class="product-showcase-tabs">
      <div class="product-showcase-tab">
      	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-showcase1.png"/>
        <div>Sunflower Seed Oil</div>
      </div>
      <div class="product-showcase-tab">
      	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-showcase2.png"/>
        <div>Sweet Almond Oil</div>
      </div>
      <div class="product-showcase-tab">
      	<img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-showcase3.png"/>
        <div>Vitamin E</div>
      </div>
    </div>
  </div>
  <img class="product-showcase-banner" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-showcase-banner.png"/>
</div>




{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Product Showcase",
    "en": "Product Showcase",
    "es": "Product Showcase",
    "fi": "Suositukset",
    "fr": "Product Showcase",
    "hi": "प्रमाणपत्र",
    "it": "Product Showcase",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Product Showcase",
        "en": "Product Showcase",
        "es": "Product Showcase",
        "fi": "Suositukset",
        "fr": "Product Showcase",
        "hi": "प्रमाणपत्र",
        "it": "Product Showcase",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Product Showcase",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}
