<style>
  .product-features-container{
  	width:100%;
    padding:100px;
    background:#FEEC9E;
    display:flex;
  }
  .product-features-content{
  	width:100%;
  }
  .product-features-banner-section{
    width:615px;
    flex-shrink:0;
    position:relative;
    background-image:url("https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-banner2.png");
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
  }
  .product-features-banner-section img{
  	width:100%;
    height:auto;
  }
  .product-description-list{
    display:flex;
    align-items:center;
    font-size:18px;
    font-weight:600;
    margin-top:10px;
  }
  .product-description-check{
  	width:20px;
    height:20px;
    border:2px solid #FB83A3;
    border-radius:5px;
    margin-right:10px;
    position:relative;
  }
  .product-description-check img{
	width: 100%;
    height: auto;
    position: absolute;
    left: 3px;
    transform: scale(1.2);
  }
  @media screen and (max-width: 1024px) {
  .product-features-container{
    flex-direction:column-reverse;
    padding:20px;
  }
  .product-features-banner-section {
    width:100%;
  }
}
</style>  

<div class="product-features-container">
  <div class="product-features-content">
    <div class="product-showcase-label">SKIN BENEFITS</div>
    <div class="product-showcase-header">Manfaat Sunstick</div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Melindungi kulit dari sinar UVA & UVB</div>
    </div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Melindungi kulit dari sinar UVA & UVB</div>
    </div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Menjaga warna kulit agar tetap merata</div>
    </div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Mencegah munculnya komedo</div>
    </div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Mencegah penuaan dini</div>
    </div>
    <div class="product-description-list">
      <div class="product-description-check">
        <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/check.svg"/>
      </div>
      <div>Mencegah kulit terbakar</div>
    </div>
    </div> 
    <div class="product-features-banner-section">
      <img src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product-features.svg"/>
    </div>
</div>
{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Product Features",
    "en": "Product Features",
    "es": "Product Features",
    "fi": "Suositukset",
    "fr": "Product Features",
    "hi": "प्रमाणपत्र",
    "it": "Product Features",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Product Features",
        "en": "Product Features",
        "es": "Product Features",
        "fi": "Suositukset",
        "fr": "Product Features",
        "hi": "प्रमाणपत्र",
        "it": "Product Showcase",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Product Showcase",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
