<style>
  .singlepage-header{
    width:100%;
    height:100px;
    display:flex;
    background:#fff;
    align-items:center;
    justify-content:space-between;
    padding-top:32px;
  }
  .singlepage-header-logo{
    width:150px;
    height:auto;
  }
  .singlepage-header-tabs{
    width:100%;
    display:flex;
    align-items:center;
    text-decoration:none;
    color:#333;
  }
  .singlepage-header-tab{
    font-size:16px;
    font-weight:600;
    color:#333;
    padding-left:70px;
  }
  .singlepage-header-ribbon{
    width:100%;
    height:32px;
    font-size:16px;
    position:fixed;
    top:0;
    left:0;
    background:#FB83A3;
    color:#fff;
    text-align:center;
    display:flex;
    align-items:center; 
  }
  
</style> 
<div class="singlepage-header">
  <div class="singlepage-header-ribbon">Use promo code “INGRIDJOY” to enjoy FREE SHIPPING on all order</div>
  <img class="singlepage-header-logo" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/logo.svg">	
  <div class="singlepage-header-tabs">
    <a class="singlepage-header-tab">Our Products</a>
    <a class="singlepage-header-tab">How to Use</a>
    <a class="singlepage-header-tab">Benefit</a>
    <a class="singlepage-header-tab">Ingrid Fams</a>
    <a class="singlepage-header-tab">FAQ</a>
  </div>
</div>


{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Single Header",
    "en": "Single Header",
    "es": "Single Header",
    "fi": "Suositukset",
    "fr": "Single Header",
    "hi": "प्रमाणपत्र",
    "it": "Single Header",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Barva pozadí",
        "da": "Baggrundsfarve",
        "de": "Hintergrundfarbe",
        "en": "Background color",
        "es": "Color del fondo",
        "fi": "Taustaväri",
        "fr": "Couleur de fond",
        "hi": "पृष्ठभूमि का रंग",
        "it": "Colore sfondo",
        "ja": "背景の色",
        "ko": "배경색",
        "nb": "Bakgrunnsfarge",
        "nl": "Achtergrondkleur",
        "pl": "Kolor tła",
        "pt-BR": "Cor do fundo",
        "pt-PT": "Cor do fundo",
        "sv": "Bakgrundsfärg",
        "th": "สีพื้นหลัง",
        "tr": "Arka plan rengi",
        "vi": "Màu nền",
        "zh-CN": "背景色",
        "zh-TW": "背景顏色"
      },
      "default": "#242424"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Barva textu",
        "da": "Tekstfarve",
        "de": "Textfarbe",
        "en": "Text color",
        "es": "Color de la fuente",
        "fi": "Tekstin väri",
        "fr": "Couleur du texte",
        "hi": "टेक्स्ट का रंग",
        "it": "Colore del testo",
        "ja": "テキストの配色",
        "ko": "텍스트 색상",
        "nb": "Tekstfarge",
        "nl": "Tekstkleur",
        "pl": "Kolor tekstu",
        "pt-BR": "Cor do texto",
        "pt-PT": "Cor do texto",
        "sv": "Textfärg",
        "th": "สีข้อความ",
        "tr": "Metin rengi",
        "vi": "Màu chữ",
        "zh-CN": "文本颜色",
        "zh-TW": "文字顏色"
      },
      "default": "#ffffff"
    }
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Single Header",
        "en": "Single Header",
        "es": "Single Header",
        "fi": "Suositukset",
        "fr": "Single Header",
        "hi": "प्रमाणपत्र",
        "it": "Single Header",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Testemunhos",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
