<style>
  .static-product{
  	width:100%;
    display:flex;
  }
  .static-product-image-section{
    width:55%;
    padding:50px;
    padding-right:220px;
    background:#FFD5D5;
    padding-bottom:100px;
  }
  .static-product-image-holder{
    width:100%;
    position:relative;
  
  }
  
  .static-product-image-holder:before{
  	content:"";
    width:100%;
    height:100%;
    background:#fff;
    position:absolute;
    top:22px;
    left:22px;
  }
  
  .static-product-banner{
  	width:100%;
    height:auto;
    position:relative;
  }
  .static-product-image{
   width: 500px;
    height: auto;
    position: absolute;
    bottom: -80px;
    right: -320px;
  }
  .static-product-content{
  	width:45%;
    padding:50px;
    background:#FFEAEA;
  }
  .static-product-name{
    font-size:50px;
    font-family:Shrikhand;
    color:#333;
    line-height:55px;
  }
  .static-product-name span{
  	margin-left:2px;
  }
  .static-product-description{
  	color:#FB83A3;
    font-size:32px;
    margin-top:20px;
    font-family:Shrikhand;
  }
  .static-product-badges{
  	display:flex;
    margin-top:15px;
  }
  .static-product-badge{
  	width:75px;
    height:auto;
    margin-right:10px;
  }
  .static-product-button{
    width:240px;
    height:60px;
    background:#FB83A3;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    font-family:Shrikhand;
    font-size:28px;
    cursor:pointer;
    margin-top:50px;
    border-radius:10px;
    text-decoration:none;
  }
  
  @media screen and (max-width: 1024px) {
    .static-product{
    	flex-direction:column;
    }
    .static-product-image-section{
    	width:100%;
      	padding: 20px 40px 40px 20px;
        overflow:hidden;
    }
    .static-product-content{
    	width:100%;
    }
    .static-product-image{
    	bottom: -52px;
    	right: -78px;
      	width:250px;
    }
    .static-product-name{
    	font-size:32px;
      	line-height:36px;
    }
    .static-product-description{
  		font-size: 24px;
    	margin-top: 10px;
     }
    .static-product-content{
    	padding:20px;
    }
    .static-product-button{
    	width:200px;
      	margin-top:30px;
      	font-size:24px;
    }	
  }
  
  
</style>
<div class="static-product">
  <div class="static-product-image-section">
    <div class="static-product-image-holder">
      <img class="static-product-banner" src={{ section.settings.banner | img_url: 'original' }}/>
      <img class="static-product-image" src={{ section.settings.image | img_url: 'original' }}/>	
    </div>
  </div>
  <div class="static-product-content">
     <div class="static-product-name">
      {{ section.settings.title }}
     </div>
     <div class="static-product-description">{{ section.settings.sub-title }}</div>
    
    {%- if section.settings.show-tags  -%}
     <div class="static-product-badges">
      <img class="static-product-badge" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product3.png"/>
      <img class="static-product-badge" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product4.png"/>
      <img class="static-product-badge" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product5.png"/>
      <img class="static-product-badge" src="https://creatorco-media.s3.ap-southeast-1.amazonaws.com/ingrid/product6.png"/>
    </div>
	{%- endif -%}
   
    <a class="static-product-button" href={{ section.settings.button-link }}>{{ section.settings.button-label }}</a>
  </div>

</div>


{% schema %}
{
  "name": {
    "cs": "Ohlasy",
    "da": "Udtalelser",
    "de": "Static Product",
    "en": "Static Product",
    "es": "Static Product",
    "fi": "Suositukset",
    "fr": "Static Product",
    "hi": "प्रमाणपत्र",
    "it": "Instagram",
    "ja": "お客様の声",
    "ko": "추천",
    "nb": "Tilbakemeldinger fra kunder",
    "nl": "Getuigenissen",
    "pl": "Referencje",
    "pt-BR": "Depoimentos",
    "pt-PT": "Testemunhos",
    "sv": "Kundberättelser",
    "th": "เสียงชื่นชมจากลูกค้า",
    "tr": "Kullanıcı görüşleri",
    "vi": "Chứng thực",
    "zh-CN": "感言",
    "zh-TW": "推薦文"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "hi": "इमेज",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": {
        "en": "Banner"
      }
    },
   {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Informujte o své značce",
        "da": "Fortæl om dit brand",
        "de": "Über deine Marke sprechen",
        "en": "Talk about your brand",
        "es": "Habla de tu marca",
        "fi": "Kerro brändistäsi",
        "fr": "Parlez de votre marque",
        "hi": "अपने ब्रांड के बारे में बात करें",
        "it": "Parla del tuo brand",
        "ja": "あなたのブランドについて語る",
        "ko": "브랜드에 대해 이야기하기",
        "nb": "Snakk om merkevaren din",
        "nl": "Vertel over je merk",
        "pl": "Opowiedz o swojej marce",
        "pt-BR": "Fale sobre a sua marca",
        "pt-PT": "Fale sobre a sua marca",
        "sv": "Prata om ditt varumärke",
        "th": "พูดถึงแบรนด์ของคุณ",
        "tr": "Markanızdan bahsedin",
        "vi": "Chia sẻ về thương hiệu của bạn",
        "zh-CN": "介绍您的品牌",
        "zh-TW": "描述您的品牌"
      }
    },
   {
      "type": "text",
      "id": "sub-title",
      "label": {
        "en": "Sub Title" 
      },
      "default": {
        "en": "Lorem ipsum"  
      }
    },
	{
      "type": "text",
      "id": "button-label",
      "label": {
        "en": "Button label" 
      },
      "default": {
        "en": "SHOP NOW"  
      }
    },
	{
      "type": "text",
      "id": "button-link",
      "label": {
        "en": "Button link" 
      },
      "default": {
        "en": "/"  
      }
    },
	{
  		"type": "checkbox",
  		"id": "show-tags",
  		"label": "Show Tags",
  		"default": true
	}
    
  ],
  
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Udtalelser",
        "de": "Static Product",
        "en": "Static Product",
        "es": "Static Product",
        "fi": "Suositukset",
        "fr": "Static Product",
        "hi": "प्रमाणपत्र",
        "it": "Static Product",
        "ja": "お客様の声",
        "ko": "추천",
        "nb": "Tilbakemeldinger fra kunder",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Depoimentos",
        "pt-PT": "Static Product",
        "sv": "Kundberättelser",
        "th": "เสียงชื่นชมจากลูกค้า",
        "tr": "Kullanıcı görüşleri",
        "vi": "Chứng thực",
        "zh-CN": "感言",
        "zh-TW": "推薦文"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      }
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
