<!-- /templates/404.liquid -->
<div class="page-width" data-section-id="{{ section.id }}">
  <div class="section-header text-center">
    <h1 class="section-header__title h2">{{ 'general.404.title' | t }}</h1>
  </div>

  <div class="text-center">
    <p>{{ 'general.404.subtext_html' | t }}</p>
    <a href="{{ routes.root_url }}" class="btn btn--primary">{{ 'general.404.404_link' | t }}</a>
  </div>
  Test
      {% render 'judgeme_widgets', widget_type: 'judgeme_all_reviews_text', concierge_install: false %}
  Test 2
      {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget ', concierge_install: false %}
  Test 3
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
  Test 4
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
  TEST 5
  {% render 'judgeme_widgets', widget_type: 'judgeme_featured_carousel', concierge_install: false, product: product %}
   
  Test Final
</div>
